@inherits LayoutComponentBase
<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, porro nisi
  ipsum quia vitae asperiores laboriosam similique soluta voluptatibus unde
  deserunt maxime deleniti sed possimus magnam, molestias ducimus cupiditate
  libero!
</div>


